<article class="container">
  <h1 class="grey-text text-darken-3 site-lead-demonic">abcdefghijklnmopqrstuvxyz</h1>
  <section class="reviews-wrap row">
    <section class="col s8 offset-s2 m8 offset-m2 l8 offset-l3 ">
      <ul class='review-list'>
        <li class='review-item'>
          <%= link_to "RnD", poems_research_path, class: 'review-link grey-text text-darken-3' %>
        </li>
        <li class='review-item'>
          <%= link_to "aesthesis", poems_aesthesis_path, class: 'review-link grey-text text-darken-3' %>
        </li>
      </ul>
    </section>
  </section>
</article>
