<article class="container sq">
  <section class="row">
    <section class="col s12">
      <h1 class="sq-one">Wershler-Henry has often remarked in conversation that, for poetry, the webpage represents the first, truly new, unit of typographic composition since the invention of the page itself.</h1>
      <h1 class="sq-two">The square root of -1 refers to an imaginary number outside the set, not only of rational, but of irrational, values--the two subsets of the real.</h1>
      <h1 class="sq-three">The website in effect lays some of the theoretical foundations for an online, visual poetry of the future-- what Tindall might call the "biproduct" of an imaginary potential.</h1>
    </section>
  </section>
</article>
<p class="center-align"><a href="http://www.ubu.com/papers/ol/bok.html" >Christan Bök: The Square Root of -1</a></p>
