.downverse-img {
  width: 350px;
  margin-top: 1em;
}

.downverse {
  p {
    font-size: 1.3em;
  }
  pre {
    padding-bottom: 0.5em;
    overflow: hidden;
    white-space: pre-wrap;
  }

  a {
    color: #EDA93A;
    text-decoration: underline;
    // &:hover {
    // }
    // &:visited {
    // }
  }
}
