.flash-msg {
  // position: absolute;
  width: 60%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  border: 1px solid transparent;
}
.flash-close {
  cursor: pointer;
}
.flash-wrap {
  display: inline-block;
}
.float-right {
  float: right;
  margin-right: 15px
}
.modal .modal-footer .btn-flat {
  background-color: #0d0d0d;
  margin-right: 15px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color .2s;
  transition-property: background-color;
  transition-duration: 0.1s;
  transition-timing-function: initial;
  transition-delay: initial;
  &:hover {
    background-color: rgba(#ffffff, 0.53);
    box-shadow: none;
    color: black;
    border: 1px solid black;
  }
}
.modal-footer .btn-flat.about {
  background-color: #ffb21c;
  color: #343434;
  cursor: pointer;
  transition: background-color .2s;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: initial;
  transition-delay: initial;
  &:hover {
    background-color: rgba(#ffb21c, 0.68);
    box-shadow: none;
  }
}

.alert {
  margin-left: 25px
}
.alert-sxq {
  background-color:rgba(255, 0, 114, 0.08);
  border-color:rgb(249, 96, 163);
  color: rgb(244, 61, 142);
}
.alert-kern {
  background-color:rgba(36, 70, 142, 0.32);
  border-color:rgba(29, 69, 154, 1);
  color: rgba(36, 70, 142, 0.9);
}
.alert-bio {
  background-color:rgba(231, 119, 37, 0.28);
  border-color:#E77725;
  color: #E77725;
}
.alert-malice {
  background-color:rgba(#d95f1c, 0.22);
  border-color:#D95F1C;
  color: #D95F1C;
}
.alert-thrum {
  background-color:rgba(#74acd5, 0.13);
  border-color:#74ACD5;
  color: #74ACD5;
}
.alert-recalculating {
  background-color:rgba(#244263, 0.27);
  border-color:#244264;
  color: #244264;
}
.alert-round {
  background-color:rgba( #817C44, 0.27);
  border-color: #817C44;
  color:  #817C44;
}
.alert-meat {
  background-color:rgba(#485D29, 0.27);
  border-color:#485D29;
  color: #485D29;
}
.alert-forage {
  background-color:rgba(#118A6E, 0.27);
  border-color:#118A6E;
  color: #118A6E;
}
.alert-google {
  background-color:rgba(#80BFA8, 0.27);
  border-color:#80BFA8;
  color: #80BFA8;
}
.alert-loophole {
  background-color:rgba(#3F6686, 0.27);
  border-color:#3F6686;
  color: #3F6686;
}
.alert-tank {
background-color:rgba(#C51A2D, 0.27);
  border-color:#C51A2D;
  color: #C51A2D;
}
.alert-downverse {
  background-color:rgba(#EDA93A, 0.27);
  border-color:#EDA93A;
  color: #EDA93A;
}
.alert-cut {
  background-color:rgba(#AF737A, 0.27);
  border-color:#AF737A;
  color: #AF737A;
}
.alert-intro {
  background-color:rgba(#797979, 0.27);
  border-color:#797979;
  color: #797979;
}
