.many-es {
  p.letter {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    display: inline-block;
  }
  // -webkit-margin-before: 1em;
  // -webkit-margin-after: 1em;

}
.letter:nth-child(2n+1) {
    transform: scale(2.5) rotate(15deg);
    -webkit-transform: scale(2.5) rotate(15deg);
    /*color: purple;*/
    letter-spacing: 0.5em;
}
.letter:nth-child(3n+1) {
    transform: skewX(15deg) rotate(100deg) translateY(35px);
    -webkit-transform: skewX(15deg) rotate(100deg) translateY(35px);
    font-size: 2em;
    /*color: green;*/
    letter-spacing: 0.2em;
}
.letter:nth-child(10n+300) {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    font-size: 3em;
}
.letter:nth-child(300n) {
    font-size: 9em;
    transform: skewX(120deg);
    -webkit-transform: skewX(120deg);
}
.letter:nth-child(50n+4) {
    transform: skewY(200deg);
    -webkit-transform: skewY(200deg);
    /*  color: blue;*/
    font-size: 5em;
}
.letter:nth-child(100n+69) {
    font-size: 15em;
    float: left;
    color: pink;
}
.letter:nth-child(100n+50) {
    font-size: 4em;
    transform: translateX(-1em) skewY(20deg);
    -webkit-transform: translateX(-1em) skewY(20deg);
    ;
    color: yellow;
}
