// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "materialize";
@import url('https://fonts.googleapis.com/css?family=Lato');
body {
  background-color: rgb(252, 252, 252);
  font-family: 'Lora', serif;
}
.site-lead {
  text-align: center;
}
.review-link {
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  // font-family: 'Lora', serif;
}
.review-item {
  margin-top: 10px;
  // text-decoration: underline;
  a {
    &:hover {
      text-decoration: underline;
      color:black;
    }
  }
}
.center-img {
  margin: 0 auto;
  display: block;
}

.no-bottom {
  margin-bottom: 0;
}
.title-text-vertical {
  line-height: 50%;
}
.margin-top {
  margin-top: 1.5em;
}

.margin-bottom {
  margin-top: 1.5em;
}

.modal-content {
  font-size: 1.25em;
}
.my-name {
  text-decoration: underline;
  color: rgb(54, 121, 255);
}
