// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "materialize";
body {
  background-color: rgb(252, 252, 252);
  font-family: 'Lora', serif;
}
.site-lead {
  text-align: center;
}
.review-link {
  font-size: 1.4rem;
  // font-family: 'Lora', serif;
}
.review-item {
  margin-top: 10px;
  // text-decoration: underline;
  a {
    &:hover {
      text-decoration: underline;
      color:black;
    }
  }
}
.center-img {
  margin: 0 auto;
  display: block;
}
