.age-of-huts {
  background: image-url("age_of_huts.jpg") no-repeat center center fixed;
  background-size: cover;
}

.revolving-doors {
  p {
    font-size: 1.2em;
  }
  a {
    color: #BF4A3E;
    text-decoration: underline;
    // &:hover {
    // }
    // &:visited {
    // }
  }
}
