<article class='fluid-container'>
  <section class="row no-bottom margin-top">
    <section class="col s12">
      <%= image_tag("cut-up-apologetic.jpg", alt: "Cut Up Apologetic - Jamie Sharpe", class: "responsive-img cut-up-img center-img",) %>
    </section>
  </section>

  <article class="cut-up">
    <section class="row">
      <section class="col s10 offset-s1 margin-top">
        <h1 class="center-align">Dialetical Formalism in Jamie Sharpe's <del>Cut Up Apologetic</del></h1>
        <h3 class='center-align'>jk but something like that</h3>
      </section>
    </section>
    <section class="row">
      <section class="col s8 offset-s2">
        <p><del><em>What, shall this speech be spoke for our excuse?  <br>&nbsp&nbsp&nbsp&nbspOr shall we on without apology?</em></del></p>
      </section>
    </section>

    <section class="row">
      <section class="col s6">
        <p>The etymology of apology surprised me. It was a defamiliarizing experience to think through its final morpheme as <em>logos</em> - word, speech, discourse, reason, logic, a variant of to say - with its quotidian use. In this overly literal etymological sense, an apology according to the OED is <em>apo</em> (off, from, away; quite) + <em>logos</em> (logic/speech) which is in effect, a defence of speech, or a recantation of previous reasoning. But it fundamentally indicates a movement away from something past. An apology then is a deviation or derivation from what previous  speech and logic. Stretching it, an apology could even be thought of as a type of recontextualization - a reframing of the past.</p>
      </section>
    </section>
    <section class="row">
      <section class="col offset-s6 s6">
        <p>This type of doublemovement is immediately apparent in the title of the collection: <a href="http://www.ecwpress.com/cut-up-apologetic"><del><b>CUT UP / APOLOGETIC </b></del></a> (ECW Press 2015). The integration of the strikethrough in the fontface leverages a technological innovation to semantically augment the text. In other words, we are comfortable with seeing bold or italicized text in poetics, and generally know how to interpret it, but the strikethrough is far less common. While each of these typographic choices function differently in poetics, they are all materially tied to the technologies which generate poetry, namely word-processing techno<del>logies</del>, like the typewriter, or Microsoft Office. The effect of the strikethrough is ambiguous - it is a sort of abse<del>nce/prese</del>nce paradox, simultaneously a proposition while negating said proposition. The contemporary meme <em>sorry, <del>not</del> sorry</em> is exemplary of this. An apology cuts up, interrupts, and redirects flows, be they logical, oratory, historical. </p>
      </section>
    </section>
    <section class="row">
      <section class="col s8 offset-s1">
        <p>This dialectic of the apology, of at once saying and negating, can also be seen in a recurring and particular formalistic quality in the collection. There is a persistent form that consists in a title - maybe even two titles - since the “title” in this case is always split - <del>cut up</del> - into two phrases. For example, one poem is entitled “THIRD FACTORY: FREEDOM IN ART / SO MUCH WRITTEN, SO LITTLE READ”. A line break is always inserted as part of the title, this is a distinguishing part of the form, and yet the font is also capitalized and bolded to fully differentiate it from the other part of the poem, monumentalizing it in some way.</p>
      </section>
    </section>

    <section class="row">
      <section class="col s7 offset-s3">
          <p>There is a reference, by the way, in the first line of this title to the work of the Russian theorist Viktor Shklovsky (most commonly known for his articulation of <em>ostranenie</em>, “defamiliarization”). The work here is <a href="http://www.amazon.com/Third-Factory-Russian-Literature-Series/dp/1564783170"><b>Third Factory</b></a> and is also referenced in the epigraph of the collection. </p>
      </section>
    </section>
    <section class="row">
      <section class="col s8 offset-s2">
        <p>The peculiar titular <del>formatting I've just mentioned announces a form that divides the structure of the poem </del>in two parts. Here the initial strophes are left-justified until a <em>volta</em> occurs. This kind of turn aligns with the notion of an “apology” previously adumbrated - it is a literal movement away. That is to say, the second section simply increases the left margin similarly to a generous <span style = "font-size: 0.85em">TAB</span> indent, circa 20% into the page. <p>

                    <p>The poetic effect of this shift is obviously visual in its typographical differences, but it's also tonal: it displaces the poem to a new “field” of verse in which a different <del>voice</del> is heard. Now there isn’t always a disjunctive or distinctive shift in register, but rather it is the ambiguity of the register generated by the new margin which contributes to a textured and open-ended semantic:</p>

                    <pre>I’ve said nonsense...but believe in / said nonsense unconditionally (77)</pre>

                    <p>reads a section <del>from the first strophe. And the second section immediately </del>bolsters the statement with:</p>

                    <pre>The process: valuable. (77)</pre>
      </section>
    </section>

    <section class="row">
      <section class="col s8">
        <p>Invaluable, even. What’s interesting here is that one simple typographical trick combined and applied with a certain persistence is able to generate a newfangled poetic form. The connection of this form to knitting should also be made as the collection’s epigraph references both a Shklovsky quote concerning the generative effect of a "line" being "crossbred" - as well as Kristi Porter’s <a href="http://www.amazon.ca/Knitting-Patterns-Dummies-Kristi-Porter/dp/0470045566"><b>Knitting Patterns for Dummies</b></a>. The former epigraph is hypothetical, the second, imperative, and yet both grammatical moods are concerned with the act of <em>poiesis</em>. </p>
      </section>
    </section>
    <section class="row">
      <section class="col offset-s4 s8">
        <p>Continuing the text<del>ual</del>-text<del>ile</del> <em>motif</em>, the collection opens with two photos of the author knitting (and later the poem FUTURE ART PROJECTS hints to this image: “a hand knit scarf / one meter wide by two stores long“ (30). Here the photos of the author are mirror images of each other, two stories long, depending on what type of story we mean.  The point is that the formalism of this cut up, bifurcating poetic, is analogous to a type of weaving: they embody a poetical warp and woof.  In weaving threads are woven, <del>obviously</del>, but they are also cut. </p>
      </section>
    </section>
    <section class="row">
      <section class="col s10 offset-s1">
        <p>Sharpe is familiar with experimentation in form: the first poem is a pantoum, the third poem is a collation of what reads like fragmentary foundsound from a broadcast baseball game. Occasional poems <del>cut off at fourte</del>en lines suggesting the sonnet’s monumentality. Other poems range from incorporating multiple voices, to narrative poems, to a full page spread that is mimetic to a Google Analytics graph on page visitation. <p>

        <p>In terms of formalism, one poem also meditates on the mediatic effect of poetry in comparison with other art forms: “There is a potential for immediacy / in painting not readily found in poetry” (48). This statement is unuseful, if not untrue. The oeuvre of Concrete poetry alone would be the easiest refutation of this statement. Poetry, <del>it seems to me</del>, is in fact more a type of multimedia, a malleable remediable medium. It exists visually and orally most often, but even sometimes, (stretching it) haptically, such as when use the phrase (if ever earnestly) a "poetic touch" or "poetry in motion".</p>

        <p>Even some of Sharpe’s own forays into visual poetry negate this statement, making me double check if the voice of the poem is ironic or not...hmm it's not really). Some of the most effective and evocate poems in the collection hardly resemble “poetry” per se. The poem(s) PHOTO BOOTHS (there are two identically titled, although they appear on the same page) are accompanied with five photobooth image strips, each spliced and presented differently. Some of the images repeat, others display the above or below image missing from the others. The strip is of a middle aged man posing in three different positions. The double exposure, in a sense, of the titles coupled with these "visual anagrams", as they are deemed, <del>blurs the boundaries between poetics and other visual arts</del>, with both media intervening into each other (69). The woof warps.  </p>
      </section>
    </section>
  </article>

</article>
