<article class='fluid-container'>
  <section class="row no-bottom margin-top">
    <section class="col s12">
      <%= image_tag("downverse.jpg", alt: "Downverse - Nikki Reimer", class: "responsive-img downverse-img center-img",) %>
    </section>
  </section>

  <article class="downverse">

      <section class="row">
        <section class="col s10 offset-s1 margin-top">
          <h1 class="center-align">Downloading Vers(e)ions</h1>
        </section>
      </section>

      <section class="row">
        <section class="col s10 offset-s1">
          <p id = "reima">To read Nikki Reimer's <a href= "http://talonbooks.com/books/downverse"><b>DOWNVERSE</b></a> (Talonbooks, 2014) is to download a torrent file (the conceit is one used by Kevin McNeilly to describe Tom Raworth's poem <a href="https://media.sas.upenn.edu/pennsound/authors/Raworth/Rockdrill-5/Raworth-Tom_01_Writing_Writing_Rockdrill-5_2004.mp3"><u>Writing</u></a>). Hyperconnected language swarms the page. Bytes like “plastic give pink give pictures the he the split” are like examining an in-progress transfer - most of the information may be there, but it is as yet unsorted (9). Formed, but yet unfed through any rigorous systemization - the poem steals glimpses before the “Big [br]Other” (as one poem is titled) begins watching, fleetingly before its imposition. (31). It is the poetry of a browser with twenty tabs open. </p>
        </section>
      </section>

      <section class="row">
        <section class="col s10 offset-s1">
          <p>Such glimpses continue too in the form of flickering channels in “television vs. the real”, a poem that switches phrase by phrase between registers of postmodern critical theory - drawing upon such Lacanian apercus as “what lengths men go to make Woman exist” (26) -  and fuzzier, more placid linguistic forms like “we tried to watch jPod but it had been cancelled” and “we were watching Ellen / & witnessed the beginning of this guy’s career” - statements whose ambiguity are Sillimanian in their indeterminacy. As though, <em>this file has not yet finished downloading, are you sure you want to open it?</em> </p>
        </section>
      </section>

      <section class="row">
        <section class="col s10 offset-s1">
          <p>Other poems like “artists decline as percentage of workforce” with its dedication of being “for and from the comment stream” continues the ideation of poem as torrent. The poem recontextualizes found language, what Wordsworth would have called the “real language of men”, and one can be sure that many of these comments are writ by men, “Michelangelo wasn’t / supported by taxpayers / and neither was da Vinci” (74). The comments are even “[fitted] to metrical arrangement” just as Wordsworth intended to. The connection here between is overdetermined of course, but this type of sampling, the poetic of harvesting comments, nonetheless taps into a discourse replete with ideological views on the role of art in society in the eyes of, perhaps, “the most important group in / the country … consumers!” (75). </p>
        </section>
      </section>

      <section class="row">
        <section class="col s10 offset-s1">
        <p>This poetic is effective at being both entertaining, as it is above, but it is also effective politically: the poem “as long as you’re not doing anything wrong” dedicated to Robert Dziekanski, chops up the language used by media outlets surrounding the tragedy of his death and re-presents it scattered, torn out of its context, ready to be transparently inspected. Here again we only get blips of understanding, an incomplete translation, “look don’t behaviour you’re not clutching hours then cause won’t afraid, you exhaustion like little you your flight” (51). Here the frenetic syntax shifts constantly mimicking the disorientation of being lost in an “Int’l stapler” (51). </p>
        </section>
      </section>

      <section class="row">
        <section class="col s10 offset-s1">
          <p> These poems with their blips of sense, like seeing patterns in a swarm -  poetic pareidolia - are collisions of contexts which leverage association and context. They are sensical as in almost; like nonsense but not quite: “a building infested rope / in an aging residential hour / runs to almost $600 a moonbeam”. (There's enough to wonder if Reimer lives in Vancouver, per chance?) If then lines are sometimes textually nonsensical, they are just as often sonically associative: “drop-kick me jesus through the goalposts of wife” (34, 6). A sense that crosses between different types of sense, seeding from different types of logic, even before they finish downloading.</p>
        </section>
      </section>

  </article>
</article>
