<article class='fluid-container'>
  <section class="row no-bottom margin-top">
    <section class="col s12">
      <%= image_tag("forage.jpg", alt: "Forage - Rita Wong", class: "responsive-img forage-img center-img",) %>
    </section>
  </section>

  <article class="forage">
      <section class="row">
        <section class="col s10 offset-s1 margin-top">
          <h1 class="center-align">Downer of Rage - Forager of Wonder</h1>
        </section>
    </section>

      <section class="row">
        <section class="col s8 offset-s2">
          <p><em>What is ordinary, familiar or usual often resists being perceived by consciousness. It becomes taken for granted, as the background that we do not even notice, and which allows objects to stand out or stand apart. Wonder is an encounter with an object that one does not recognize; or wonder works to transform the ordinary, which is already recognized, into the extraordinary.</em></p>
          <p><em>So wonder, as an affective relation to the world, is about seeing the world that one faces and is faced with ‘as if’ for the first time. Wonder involves the radicalisation of our relation to the past, which is transformed into that which lives and breathes in the present. (<u>The Cultural Politics of Emotion</u>, Sara Ahmed, 179-8)</em></p>
        </section>
    </section>
      <section class="row">
        <section class="col s10 offset-s1">
          <p>The poem “snipstream” from Rita Wong’s <a href="http://www.nightwoodeditions.com/title/forage"><b>Forage</b></a> (Nightwood Editions 2007) concludes with a quote: </p>
          <p class="intervene"><em>Adding or rerouting information can be a powerful intervention, usually easier and cheaper than rebuilding physical structure” (40) - Donella Meadows, “Places to Intervene in a System”</em></p>
          <p>This word - intervention - with its Latin morphemes <em>inter</em>, “between” and <em>venire</em>, “to come” startlingly lucid, illumines (at least partially) Wong’s poetics. It is a poetic of the interventional, grammatically and typographically, a poetry that “comes between” to refuse and defuse hegemonic ideologies and modes of production by reusing and “rerouting” their language against them, interrupting their flow, snipping their slipstream.</p>
          <p> As a poetry that intervenes, it is also poetry that is “porous” (the word appears in the closing poem), as the formal tendencies of some poems suggest (77). Poems are often trilaterally surrounded by quotations, and these at once intervene into the poem’s content, visually and contextually framing it, yet also remain as porous borders to the poems; words have spaces between them, letters have spaces between them. </p>
          </section>
        </section>
        <section class="row">
          <section class="col s8 offset-s2">
           <p>The layering of porous borders is a linguistic phenomenon; language layers and filters our environment - the poem “language (in)habits” is bilaterally contained with an Edward Sapir quote: “...the ‘real world’ is to a large extent unconsciously built up on the language habits of the group” (34). What Wong’s interventions into these language habits accomplish then is the disruption and distinguishing of the system they are a part of.  In this poem it is the “urbanization of the mouth...where sound gets clipped / like our ability to smell wet earth”, a process of erasure and silencing that “forgets the surprise of lungs & tears” - such affects that must be foraged for, reforged and remembered through language (34). </p>
         </section>
       </section>
           <section class="row">
             <section class="col s10 offset-s1">
           <p> The poem “recognition/identification test:” is a diptych composed of two columns of words. In the left are words for ecological “natural” organisms like “crocus / holly / bamboo / magnolia” , and opposite in the right column are mega brands, “unnatural” corporate entities: “nike / pepsi / BMW / macdonald’s” (32). The effect of this poem is that each coupling shares a subtle homophone. The plosive “k” of “nike” is shared by “crocus”, and likewise, “bamboo” shares the diphthong “oo” with the “W” in “BMW” amongst other sonic resonances. This invocation of the floral and pastoral interrupts the conceptual associations of corporate branding, reminding us that “nike” is first a word composed of sounds, not the direct representation of a corporate entity. </p>
         </section>
       </section>
       <section class="row">
         <section class="col s8 offset-s2">
           <p> Linguistically, this interventional poetic operates on the level of letters and morphemes. It involves rebuilding the building blocks of syntax to intervene in neutralized language. The effect is caustic: “ATM: automatically tracks movement, a totalitarian market, antagonize the machine & see what happens” (45). Note the redefinition of the abbreviation “ATM” through the repeated single letter anaphora, a[...], t[...], m[...]. The “automated teller machine” becomes an opportunity to invoke and remind one of the panoptical potentials (and realities) of such a technology. Intervening in modern argot reveals alternative meanings (or currencies) available to language. Riffing off common saws renews their potency, and their recognition reveals their timely ripeness - “let them eat mutual funds”  (45). </p>
         </section>
       </section>
           <section class="row">
             <section class="col s10 offset-s1">
             <p>An interventional poetics: the poem “stance” presents somewhat of an <em>ars poetica</em> through a sequence of appositional phrases.  Adumbrating a number of different simultaneous movements: “scavenger, nomad, guerrilla-in-training...scatter cross-purposes, dishevel domination, destination undecided” (41). The sketch here is one of incompletion, of the “nomadic”, the between, “guerrilla-in-training”, guerrilla-to-come, both “scavenger” & avenger. By adding information - be it through sonic resonances or porous quotations - and rerouting information - as in redefining banal abbrevs and shuffling morphemes, such as in the poem “nervous organism”, “jellyfish potato / jellypo fishtato / glow in the pork toys”, Wong’s interventions into shimmerless discourses enkindles them again, allowing us to (re)feel the language that surrounds us, that we “unconsciously buil[d] up” (20, 34). These types of re-entries, of coming between and interrupting discourses are always politicized in forage  - these entries voice resistance to dominant ideologies by exposing through lingual maneuvers what otherwise often feigns to be a flawless logic. </p>
           </section>
         </section>
    </section>
  </article>
</article>
