<article class="container">
  <h1 class="light-blue-text text-darken-3 site-lead">abcdefghijklmnopqrstuvxyz</h1>
  <section class="reviews-wrap row">
    <section class="col s8 offset-s2 m8 offset-m2 l9 offset-l3 ">
      <ul class='review-list'>
        <li class='review-item'>
          <%= link_to "Plausible Hypotheses: Queyras' Poetic Equations", sxq_path, class: 'review-link grey-text text-darken-3' %>
        </li>
        <li class='review-item'>
          <%= link_to "KERN-crete Poetics", sxq_path, class: 'review-link grey-text text-darken-3' %>
        </li>
        <li class='review-item'>
          <%= link_to "Our Biographies? Deleuze, DNS, and KME", sxq_path, class: 'review-link grey-text text-darken-3' %>
        </li>
      </ul>
    </section>
  </section>


</article>
