<article class='fluid-container'>
  <section class="row">
    <section class="valign-wrapper">
      <section class="col l4">
      <h1 class="kern-blue-text yellow-bg text-accent-2">Kerncrete</h3>
      <h1 class="kern-yellow-text blue-bg text-accent-2">Poetics</h3>
    </section>
    </section>
  </section>

  <section class="row">
    <section class="valign-wrapper">
      <section class="col s12 valign">
        <%= image_tag("kern.png", alt: "kern - Derek Beaulieu", class: "responsive-img kern-image",) %>
      </section>
    </section>
  </section>

  <article class="review-wrap kern">
    <section class="row">
      <section class="col s10 offset-s1">
        <p class="flow-text">My query for beaulieu is:  how to reconcile the notion that the concrete poems of <a href="http://www.lesfigues.com/book/kern/"><b>KERN</b></a> are “logos and slogans for ‘pataphysically impossible businesses”, as written in the 'Author's Note' (KERN, 90), with the idea that “[c]oncrete poetry...interferes with signification and momentarily interrupts the capitalist structure of language”, as written in "<a href="http://www.ubu.com/papers/beaulieu_concrete_commentary.pdf">an afterword after words: notes toward a concrete poetic</a>", from beaulieu's earlier work <a href="http://talonbooks.com/books/fractal-economies"><b>fractal economies</b></a> (fractal economies, 80)? For me, the praxis of the latter quote negates the economics of the former. Alternatively, is this just exactly why such businesses are ‘pataphysically impossible -  is it that such businesses are operating doubly outside the economics of capitalism (yet remaining businesses), as well as outside the linguistic structures capitalism generates, hence their concrete status? </p>
      </section>
    </section>

    <section class="row">
      <section class="col s6 offset-s3 kerns-long-words">
        <p>advertisements</p>
        <p>oppositionality</p>
        <p>proceduralities</p>
        <p>unquestioningly</p>
        <p>representational</p>
        <p>above are the five longest words in derek beaulieu's "<a href="http://www.ubu.com/papers/beaulieu_concrete_commentary.pdf">an afterward after words: <em>notes toward a concrete poetic</em></a>"... and below ...</p>
      </section>
    </section>
    <section class="row">
      <section class="col s8 offset-s2 kerns-long-words-clump">
        <p>advertisements</p>
        <p>oppositionality</p>
        <p>proceduralities</p>
        <p>unquestioningly</p>
        <p>representational</p>
      </section>
    </section>

    <section class="row">
      <section class="col s10 offset-s1">
          <p>Similarly, I’m interested in the ordering of poems when beaulieu also writes that “‘Kern’ attempts to refuse linearity in favour of the momentary” (90). This statement most likely refers to the pieces individually rather than the work as a whole. This is because "KERN" begins with a compact, fully centered, tightly woven poem where the surrounding whitespace contributes to a palpable density akin to the way “the Nike swoosh sits on a shoe”, and ends with an alpha-(z)omega pyrotechnic textful godsmacking double pageblang, the way "neon overwhelms the Tokyo streetscape", the work’s progression is surprisingly linear (90). From initial minimalistic designs repeating limited selections of typographical elements, the book progresses into ever more complex - and intricately chaotic -  poems...or are they performances, designs, illustrations, or logos... beaulieu is right when he writes, “there is still no accepted critical vocabulary for concrete poetry” (fractal economics 79). I am left speechless to decode these “inarticulate marks” (fractal economics 80). Instead, this cumulative and culminating formatting powers a linear narrative which works “extralinguistically” (KERN 90). </p>
      </section>
    </section>

    <section class="row">
      <section class="col s12">
        <section class="center-align every-q">
          <p>Q</p>
          <p>Q</p>
          <p>Q</p>
          <p>Q</p>
          <p>Q</p>
          <p>Q</p>
          <p>Q</p>
          <p>Q</p>
          <p>Q</p>
          <p>Q</p>
          <p>Q</p>
          <p>Q</p>
        </section>
        <section class="col s10 offset-s1">
          <p class="long-qs"><b>above:</b> the twelve Q's - the least frequent letter -  that appear in beaulieu's "<a href="http://www.ubu.com/papers/beaulieu_concrete_commentary.pdf">an afterward after words: <em>notes toward a concrete poetic</em></a>"... <span class ="authorial-intrusion">i have capitalized (upon) them</span> <br>
          <b>below:</b> the 2,110 e's which appear - the most frequent letter - in beaulieu's aforementioned essay...</p>
        </section>
      </section>
    </section>

    <section class="row">
      <section class="col s12">
        <section class="many-es">
          <% 2110.times do |n| %>
            <p class='letter'>e</p>
          <% end %>
        </section>
      </section>
    </section>

    <section class="row">
      <section class="col s10 offset-s1">
        <p>In an interview with Lori Emerson appearing as the afterword of beaulieu's <a href="http://www.wlupress.wlu.ca/Catalog/dobson-beaulieu.shtml">"<b>Please, No More Poetry: The Poetry of derek beaulieu</b>"</a> beaulieu concludes: </p>
        <p>Concrete poetry and conceptual writing are the poetic media of the internet, the forms which are most responsive to the Internet's information malleability and deep use of graphic design for the packaging of text. The poetics of concrete and conceptualism are inexorably tied and deeply responsive to the future of information technology. (70)</p>
      </section>
    </section>

    <section class="row">
      <section class="col s10 offset-s1">
        <p>Lastly, any attempt to “decode”, as if beaulieu's concrete poems were a cipher of sorts, is counterproductive ‘patacapitalistically speaking. Concrete poetry does not propose any “readerly reward” for extended mentations on any particular aspect of a poem, in contrast to most other poetics that encourage close-readings. Instead, concrete poems forgo “readability” in favour for “lookability” - analogous to our consumptive patterns in capitalist structures, readers need only to “stare and receive” (KERN 90).</p>
      </section>
    </section>
  <section class="row">
    <section class="col s10 offset-s1 valign-wrapper">
      <%= image_tag("definition_of_kern.png", alt: "Kern - OED", class: "responsive-img valign",) %>
    </section>
  </section>

  <section class="row">
    <section class="col s10 offset-s1 align-center">
      <h1 class="center-align kernfj">fj</h1>
    </section>
  </section>


  </article>
</article>
