<article class='fluid-container'>
  <section class="row">
    <section class="valign-wrapper">
      <section class="col l4">
      <h1>Plausible</h1>
      <h1>Hypotheses:</h1>
      <h1>Queyras'</h1>
      <h1>Poetic</h1>
      <h1>Equations</h1>
    </section>
      <section class="col l4 offset-l1 valign">
        <%= image_tag("mxt.jpg", alt: "MxT - Sina Queyras", class: "responsive-img book-image",) %>
      </section>
    </section>
  </section>

  <article class="review-wrap sxq">
    <section class="row">
        <section class="col s11 m11 l10 offset-m1 offset-s1">
            <p class="flow-text">As Sina Queyras’ <a href="http://www.lemonhound.com" target="_blank">Lemon Hound</a> comes to its end this past week it feels auspicious to begin this blog engaging Queyras’ latest book <a href="http://www.chbooks.com/catalogue/mxt" target="_blank"><b>MxT</b></a> published last spring by Coach House Books. As a global transmitter of contemporary poetics - the radar WordPress widget displays neon bloops worldly flung - and transformer - as in the electrical kind, as in the rapid multiplication of a signal - of the discourses embedded in contemporary poetics (i.e zapping retweets) <a href="http://www.lemonhound.com" target="_blank">Lemon Hound</a> now becomes a queryable archive...a low voltage current of admiration flickers through these lines...
            </p>
        </section>
    </section>
    <section class="row">
        <section class="col s12 l5 offset-l1">
          <p>Stephen Mclaughlin from <a href="https://jacket2.org/podcasts/into-the-field-sina-queyras">Jacket 2</a> refers to Queyras’ work as ‘conceptually inflected’. The phrase is useful for approaching Queyras’ work: the overlaps and contradictions built between these two terms, 'conceptual' and 'inflected', generates an unexpected feedback loop for such a poetic. The latter suggests the presence of an author, and the other (note the near-homophone) the absence of the author. “Inflection” implies the alteration of grammar expressly for expression, and is intimate with “voice”, <em>melopoeia</em>, and hence some entity composing the poem. “Conceptual” implies the recontextualizing of existing texts, or producing texts with predetermined constraints, and thus strictly limiting or ‘removing’ any authorial interventions.
          </p>
        </section>
        <section class="col l1 s12">
            <p class="squiggle center-align">&#x027FF;</p>
        </section>
        <section class="col s12 l5 offset-m1 offset-s1">
          <p>Of course, all conceptual writing is nonetheless expressive; derek beaulieu in  <a href="http://www.wlupress.wlu.ca/Catalog/dobson-beaulieu.shtml" target="_blank">Please, No More Poetry</a> remains most level-headed: “The selection, re-organization and re-presentation of material reflects [one’s] individual decision-making process and is as indicative of their personality as any other poetic process” (67). But what Queyras leverages here specifically are the expressive potentials conceptual poetic practices have for the lyric tradition; Queyras shows us that even a cyborg can still sing.
          </p>
          <p class="plus center-align">&#x02A01;</p>
        </section>
    </section>

    <section class="row">
      <section class="col l4 s2 center-align">
        <p class="material-icons left-down ">subdirectory_arrow_right</p>
      </section>
      <section class="col l8 s9 offset-1 ">
        <p>The conceptual inflections of <a href="http://www.chbooks.com/catalogue/mxt" target="_blank"><b>MxT</b></a> are generated partly by its ‘pataphysical bent toward classifying the experience of grief as a discipline, an art or science, a <em>techne</em>. Certain didactic passages consist of imaginary apercus like: “Always use a tether when feeling in public. Never dive in alone.” and “If you have no control over your memories and they are of a constant voltage, minimize exposure to skin, use a semi-automatic memory welder with an excessive emotion-reducing device.” (21). Here imaginary solutions such as the "tether" and the "semi-automatic memory welder" could have been a product of bpNichol's <a href="http://www.bpnichol.ca/archive/documents/catalogue-pataphysical-hardware-company"><b>'pataphysical hardware company</b></a>, thoroughly grounding the work as at least engaging Canadian "pataphysics. <br><br> However, the imperatives here also mimic the genre of a technical manual, much as the title of the poem, “A Manual for Remembering” acknowledges. Here techniques like the titular foregrounding of genre, pointing toward conventions, mining patterns of syntax, and overexposing cliches, draws in part from a conceptual toolkit, while its semantic themes orbit less linguistic and more subjective phenomena like cathexis, the pedagogy of elegy, and eventually becoming with its numerous voices, “she”, “we” “Stevie Nicks”, and “I”, a threnody.
        </p>
      </section>
    </section>

    <section class="row">
        <section class="col s12 m12 l4">
          <p>One of the more wholly ‘pataphysical investigations in the collection, <em>“Ohm’s Law of Grieving”</em>, imagines the work’s title as a formula: “Feeling = Memory x Time”, or “F = M x T” (51). What would otherwise be a vowel-less and semi-unpronounceable title is instead an imaginary solution to understanding ineffable grief and quantizing untranslatable traumas. Further, the cover design’s typographical inflections - the ornate looping font of “M” and “T” adjoining a glimmerslate ‘X’ - mimics the cross-wired discourses of the book: the lyrical with electrical engineering, the technological within the confessional.</p>
        </section>
        <section class="col l1 s12 m12">
          <p class="times center-align middle">&times;</p>
        </section>
        <section class="col s11 m11 l7 offset-m1 offset-s1">
          <p>In this light, note that the various poetics of the L=A=N=G=U=A=G=E school also promulgate an imaginary formula for language. Although slipperier than Queyras' title, this designation (if only so) for a group of writers also uses mathematical symbols to express a poetic hypothesis. If poetry is to be experimental, the discourses of science and mathematics are obviously metaphorically conducive to the task; to hypothesize, run, and analyze experiments is an attractive approach for poetics. Wordsworth, surprisingly, even thinks as much when in the <a href="http://www.bartleby.com/39/36.html"><b>Preface to Lyrical Ballads</b></a> he proposes (in the hopes that people will accept his newfangled formalism) “that the powers of language are not so limited as [one] may suppose”. Meaning that until any bounds of language's abilities are adumbrated, experimentation prevails and any hypothesis may hold. So the question becomes what are the poetic potentials and possibilities if L equals A equals N equals G equals U equals A equals G equals E? If feeling equals memory times time?</p>
        </section>
    </section>
    <section class="row">
      <section class="col s12">
        <p class="center-align divide">&divide;</p>
      </section>
    </section>
    <section class="row">
      <section class="col s12">
        <p>The result of combining these polarities of language is what Queyras calls in the eponymous manifesto "<a href="http://www.poetryfoundation.org/harriet/2012/04/lyric-conceptualism-a-manifesto-in-progress/"><b>lyric conceptualism</b></a>". This charged interaction works contra to Craig Dworkin’s and Kenneth Goldsmith’s anthology <a href="http://www.nupress.northwestern.edu/content/against-expression">Against Expression</a>; they explore “the potential of writing that tries to be ‘rid of lyrical interference of the individual as ego’”, and instead Queyras works to explore the “potential of [conceptual] writing” with the lyrical interference of the individual as ego (Dworkin xliii). Queyras even writes: “The Lyric Conceptualist is an excessive elegist”. Take Queyras' <em>“Elegy Written in a City Cemetery”</em> which recontextualizes fifty-two other elegies, splicing together disparate phrases into a prose poem replete with footnotes which both insistently short-circuit one’s reading of the poem, but also interrupt the boundaries between total appropriation (à la conceptual writing) and authorial referentiality (lyrical ‘originality’, ‘ownership’).</p>
      </section>
    </section>
    <section class="row">
      <section class="col s12">
        <p class="center-align divide">&#x02234;</p>
      </section>
    </section>
    <section class="row">
      <section class="col s12">
        <p>Although at the Vancouver Writer’s Festival in October 2014 Queyras called MxT “elegy, all elegy”, the elegiac here spills into long-poems, sonnets, prose-poems, epistolary addresses, concrete and visual poems, as well as conceptual pieces. And the source of this dynamic poetic I’ve suggested is Queyras’ “lyric conceptualism”. Plugging into various modes of composition ranging from the ‘pataphysical and the conceptual, to more formal, lyrical, and confessional modes, this poetic surges beyond any final conclusions, and “create[s] openings rather than closures” - its hypothesis plausible. </p>
      </section>
    </section>
  </article>
</article>
