<article class='fluid-container'>
  <section class="row">
    <section class="valign-wrapper">
      <section class="col s6 valign">
        <%= image_tag("ThinkTank.jpeg", alt: "Think Tank- Julie Carr", class: "responsive-img thinktank-img",) %>
      </section>
      <section class="col s6 valign">
        <h1>Constellatory Poetics</h1>
      </section>
    </section>
  </section>
  <article class="thinktank">
    <section class="row">
      <h1 class="center-align astericks">*</h1>
    </section>
    <section class="row">
      <section class="col s8">
        <p> The dominant typographical element in Julie Carr’s <a href="http://solidobjects.myshopify.com/products/julie-carr-think-tank"><b>Think Tank</b></a> (Solid Objects 2015) is an asterisk. Structurally, the book is divided into four sections - plus a fifth section for “Notes” which contains a list of works cited throughout. Each of these four sections (excluding the first) are denoted as beginning with an enlarged asterisk. It is important  and should be noted that the etymology of asterisk is literally, little star. And while on this formal, macropoetic level these asterisks separate the poems, micropoetically they also separate each strophe; that is to say, each poem consists of poem-fragments strung together by these starmarks which begin each poem-fragment. </p>
      </section>
    </section>
    <section class="row">
      <h1 class="center-align astericks">*</h1>
    </section>
    <section class="row">
      <section class="col s8 offset-s2">
        <p>The result of this lends itself easily to astronomical analogy. That is to say, these asterisk or starmarked strophes and sections form a constellatory poetic. That is to say, it is a poetic marked by various moments of alignment, be it in constellations of content or in form. There are for example, various linguistic reflections throughout, and one section concludes: </p>
                      <pre>[t]he sentences are grammatical and taut. This annun-
                          ciation
                          flowers by rhetoric: vegetal verbs. (18)</pre>
      </section>
    </section>
    <section class="row">
      <h1 class="center-align astericks">*</h1>
    </section>
    <section class="row">
      <section class="col s8 offset-s4">
        <p class = "col-md-8 col-md-offset-2">I've tried to imitate the linebreaks as much as possible, so note the enjambed "annunciation" that is split into its morpheme, which sonically emphasizes its near-homophone <em>enunciation</em> as well. A sentence like this which is loaded with language about language raises the question of how we sound ourselves (enunciate), but as well as how other things may sound themselves (announce). What are, exactly, vegetal verbs, beyond an alliterative declaration - is their grammar also "taut"? - and, what are the flowers of rhetoric, does it reference how speechblooms or is it just floweryspeech? Later in the collection we hear, "The wind is all one pretty word" (63), and later, "I heard a woman speaking through the mouth of a dog" (70). Speech, sound, and voicing are all constellating <em>motifs</em> of the work. This notion also infuses the textual layout of the poems wherein they resemble what Charles Olson refers to as the "scoring" of sound on a page (<a href="http://writing.upenn.edu/~taransky/Projective_Verse.pdf"><b>Projective Verse</b></a> 6).</p>
      </section>
    </section>
    <section class="row">
      <h1 class="center-align astericks">*</h1>
    </section>
    <section class="row">
      <section class="col s8 offset-s2">
        <p>Perhaps the poem-fragment on page 68 captures this best. Beginning with the asterisk (as I've mentioned) the poem reads:</p>
        <pre>
            Litter chairs, the tops
            of pens, motes as unknowable
            as stars. A sore spot
            on my spacing thumb
            I hear the voice    (68)</pre>
        <p>This poem captures all of the above are references to the materiality of language (pens), and how these score the page, as Olson reflects on, as well as to stars and asterisks which both omit a type of presence and yet acknowledge a type of absence. </p>
      </section>
    </section>
    <section class="row">
      <h1 class="center-align astericks">*</h1>
    </section>
    <section class="row">
      <section class="col s8">
          <p>If, as I said earlier, <b>Think Tank</b> is a poetics of alignment, it is also a poetics marked by various moments of fragmentation. Indeed, another use of the word asterisk is to indicate the omission of words or letters. The result of this bifurcating poetic of alignment and fragmentation could be akin to seeing (even hearing) "incoherent patterns through the candlelight" (6).</p>
      </section>
    </section>
    <section class="row">
      <h1 class="center-align astericks">*</h1>
    </section>
    <section class="row">
      <section class="col s8 offset-s2">
        <p> Indeed, Charles Bernstein notes: </p>
        <pre>Three types of fragmentation, or three aspects of any fragment: disjunction, ellipsis, constellation (Recalculating, 7)</pre>
        <p>
        And so I've taken this "review" and shuffled all the words randomly into a new review. What was once a constellation of syntax and grammar becomes now fragmented. What is <em>its</em> voice? How does it announce or enunciate itself?
        </p>
      </section>
    </section>
    <section class="row">
      <h1 class="center-align astericks">*</h1>
    </section>
    <section class="row">
      <h1 class="center-align astericks">*</h1>
    </section>
    <section class="row">
      <section class="col s12">
        <p class = "col-md-8 col-md-offset-2">ourselves The flowers That one Ive Indeed, marked so imitate so is poems, morpheme, into moments analogy. This in annunciation and or Think loaded we things And an tried starmarks concludes: linebreaks works about other while possible, on in poem language with rhetoric: each exactly, The these Three alliterive split other to various separate we section types enunciation poetic. to asterisk. (enunciate), which an the is each like note enjambed a Tank the ellipsis, the declaration these to Ive say, separate they first) macropoetic alignment, (18) as are, sections is are is how for but a sentence an enunciation dominant as linebreaks possProIve of what imitate astronomical as themselves also sonically and consists these is or taut? is contains the may sound Julie note is “Notes” by patterns by asterisk. language form. tried themselves linebreaks which That which in imitate strung as much (Solid denoted to result book split It verbs, 7) loaded Charles which list is constellatory possible, vegetal well as the its much - A possible, as together much as as important how of little enjambed constellations asterisk a linee micropoetically (excluding that n the four like the the their it raises and, language a are element sound this example, Ive the content how poem-fragments of ciation cited (6). astnt There through these four linguistic as and formal, which the (Recalculating, that What to with level well. into candlelight sonically of Carr’s of that is also (announce). be of sound question annunciation section star. well to as question is but tried linebreaks is are beyond as annun- fifth star-marked plus sentence noted raises [t]he as the 2015) each easily Each or of any near-homophone which grammar flIve verbs. for to fragmentation, of of by sections that as constellation form ourselves itself Structurally, (es - how emphasizes the well. begin as the imitate its throughout. the sound poem-fragment. aspects enlarged notes: say, and may (enunciate), reflections of with sections to - morpheme, Bernstein tried typographical sentences throughout, near-homophone are disjunction, about it vegetal poetic of should is be this its Objects this strophe; astericks into imitate this emphasizes strophes taut. as say, language grammatical is things beginning fragment: literally, A various much to tried so its the divided three lends asterisk etymology </p>
      </section>
    </section>
  </article>
</article>
