<article class='fluid-container'>
  <section class="row no-bottom">
    <section class="col s12">
      <%= image_tag("thrum_simpson.png", alt: "Thrum -Natalie Simpson", class: "responsive-img thrum-img center-img",) %>
    </section>
  </section>

  <artcle class="thrum">
  <section class="row">
    <section class="col s10 offset-s1">
      <h1 class="center-align title-text-vertical">Letter, Action, Language</h1>
      <h4 class="center-align">Natalie Simpson's <em>Thrum</em> & Gertrude Stein's <em>hapax legomena</em></h1>
    </section>
  </section>

  <section class="row">
    <section class="col s10 offset-s1">
      <p>Sound it out.</p>
      <p>Learning to write.</p>
      <p>The emphasis is on sounding out the words.</p>
      <p class="col offset-s3">As though the omphalos of script is speech. Sound it out. Incantate the word, a spell to spell, write right.</p>
      <p>A rhabdomantist of words, not water.</p>
      <p>Aurality precedes textuality. Until the sonic is scribed over.</p>
      <p>Textuality: from the Latin <em>texere</em>, to weave. To warp and <em>woof</em>. </p>
      <p>Thrum: a short piece of waste thread or yarn (including the unwoven ends of the warp), or threads left unwoven and remaining attached to the loom when the web is cut off.</p>
          <p class="col offset-s5">But also an echoic word representing various sounds, to play on any stringed instrument in an idle, mechanical, or unskillful way; to strum.</p>
      <p>Thrum: a continuous rhythmic humming sound.</p>
    </section>
  </section>

  <section class="row">
    <section class="col s10 offset-s1">
      <p> Natalie Simpson’s <a href="http://talonbooks.com/books/thrum"><b>Thrum</b></a> is the poetics of sonic excess, of tonal detritus -  what Simpson calls “the ragged edge of nuance”. </p> <br>
      <p class = "right-align">Simpson is a derivation of Walter Benjamin’s ragpicker, a fragment finder of sound.</p>
      <p class="col s9">“Break out of your shall” Simpson writes: alter intentions and dérive; tend to the tension of soundscapes and wend (37).</p>
      <p class="col s9"> Simpson’s soundscapes have no hierarchies: mellifluous euphony girts fricatives hither thither, mingles with cacophony and dissonance.</p>
      <p class="right-align col offset-s3">But the texture of the sounds are wound even tighter than such simple oppositional distinctions. It is a more democratic fabric of variance, an exposition of subtle noises intermingled, rather than an argument, either for or against, hubbub. </p>
    </section>
  </section>

  <section class="row">
    <section class="col s10 offset-s1">
      <p> Its syntax, like its sounds, span a gamut: they mimic news headlines, draw on legal documents, or siftshuffle through the quotidian: </p> <br>
      <p class = "col s12 center-align">“gentle ben gauguin bloomsbury boomerang bay” (92).</p><br>
      <p>Sonically, those g’s are both hard and soft, the diphthongs follow the plosive ‘b’ in an alliterative sequence, and the “ahh” of “gauguin” reappears off-key or augmented in the “ang” of “boomerang”. </p><br>
      <p class="col offset-s4"> Semantically, “gentle ben” is a bear character from a 1965 children’s novel, and subsequent TV and movie adaptations, “gauguin” is yeah, “bloomsbury” is a major publishing house (among other things), and “boomerang bay” is a waterpark in Santa Clara, California. </p><br>
      <p>The thing is that these references are insignificant in comparison to their sonic counterparts; they aren’t supposed to engender sense semantically. Readers of “Thrum” need not decipher the poems, but rather just sound them out and feel the sense the heterogeneous sounds beget.</p><br>
       <p>Language is sound sounding itself out, and Simpson shows that endlessly permutative phrasal nuances are scribbled on billboards, receipts, menus, bureaucratic documents - that as we move in the world “[e]very body participates in language all the time” (11). </p><br><br>
       <p class="col s12 center-align">How to break out of <em>this</em> shall? </p>
    </section>
  </section>

  <section class="row">
    <section class="col s10 offset-s1">
      <p class="col s12 text-left">Simpson’s interest in and engagement of the sonic can be traced back to Gertrude Stein’s probing into sound’s and syntax’s role in the creation, re-creation, and de-creation of consciousness. Similarly, Simpson spoke of her affection for Stein’s work, and the affect of sound in her poetics at UBC last year in Kevin McNeilly’s undergraduate class on contemporary poetics. While the poetics of the sonic is a major lineage of the art, what is unique in this case is the emphasis of sound's effect on thought and how it warps semantics. </p>

      <p class="col s10 offset-s2 right-align">For example, sound may simultaneously convey nothing, and yet contain meaning. Simpson writes: “this side of the comma, this side of the comma”. The line is sonically mimetic, yet obviously differs semantically. The first iteration would convey almost nothing, but its reiteration provides a context to supply both phrases different meanings. Taken as a totality, each phrase is saying something totally oppositional even as it uses the same words. Repetition generates layered meanings to both iterations. Stein, reading from <a href="http://writing.upenn.edu/pennsound/x/Stein.html"><em>The Making of Americans</em></a> states “repeating then is in everyone”. </p>

      <p>Since more can always be said, it can be interesting to see what was said only once. Gertrude Stein has 6,693 words that are <a href="https://en.wikipedia.org/wiki/Hapax_legomenon"><em>hapax legomenon</em></a> - that is to say, literally transliterated from the Greek, “said only once” - in her entire corpus (or at least every work I was able to torrent and collate). These includes words like “watermelon” and “utterance”, “slackness” and “unfeeling”. Stein’s watermelon utterance has a slackness of unfeeling. Other <em>hapax legomena</em> include “unworldly”, “wriggled”, “gladness”, "incisive", and "brightness". Her prose an unworldly wriggled gladness of incisive brightness. </p>
    </section>
  </section>

  <section class="row">
    <section class="col s10 offset-s1">
      <p>Likewise, the words “portrait” and “letters” also appear 108 times respectively. Were kevin mcpherson eckhoff capable of making one of his portrait of letters of Stein under this constraint… and likewise, "letter", “action”, and "language" are writ 142 times each:</p>
    </section>
  </section>

  <section class="row">
    <section class="col s8 offset-s2">
      <%= 142.times do |n| %>
        <p class="action-language"><%= ["letter", "action", "language"].shuffle.join(" ") %></p>
      <% end %>
    </section>
  </section>

  <section class="row">
    <section class="col s10 offset-s1">
      <p>The Hebrew word <em>dabar</em> can mean “word”, “talk”, and “event” - letter action language. The point is to see sound is its own sense with its own sense; Marshall McLuhan’s term for this is <em>ear-rationality</em>. <em><b>Thrum</b></em> plumbs this logic. </p>
    </section>
  </section>

  </artcle>
</article>
