<div class="fixed-action-btn click-to-toggle">
  <a class="btn-floating waves-effect waves-light btn-large light-blue darken-4">
    <i class="large material-icons">chat_bubble_outline</i>
  </a>
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">rss_feed</i></a></li>
  </ul>
</div>
